{
	presets: [
		[
			'env', 
			{
				targets: {
					node: 'current', 
					browsers: [ 'ie > 10', 'last 2 versions' ], 
				}, 
			}, 
		], 
		'react', 
	], 
	plugins: [
		'transform-runtime', 
		'transform-object-rest-spread', 
		'transform-decorators-legacy', 
		'transform-class-properties', 
	], 
}